In [1]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler

# Introduction, Background

Blah...

# Data import and pre-processing

## Data Import

In [2]:
cols = ['f1', 'f2', 'f3', 'f4', 'species']
data = pd.read_csv('data/iris.csv', names=cols)

In [3]:
data.head()

    f1   f2   f3   f4      species
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  5.0  3.4  1.5  0.2  Iris-setosa
3  4.4  2.9  1.4  0.2  Iris-setosa
4  4.9  3.1  1.5  0.1  Iris-setosa

## Pre-processing

In [4]:
X = data[cols[0:-1]]
X = MinMaxScaler().fit_transform(X)
y = pd.get_dummies(data['species'])

In [5]:
X[0:5]

array([[ 0.22222222,  0.625     ,  0.06779661,  0.04166667],
       [ 0.16666667,  0.41666667,  0.06779661,  0.04166667],
       [ 0.19444444,  0.58333333,  0.08474576,  0.04166667],
       [ 0.02777778,  0.375     ,  0.06779661,  0.04166667],
       [ 0.16666667,  0.45833333,  0.08474576,  0.        ]])

In [6]:
y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

# Model Training

In [7]:
nn = MLPClassifier(solver='sgd', learning_rate='constant', momentum=0,
           learning_rate_init=0.2, verbose=0, random_state=0, max_iter=1000)

In [8]:
nn.fit(X, y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.2, max_iter=1000, momentum=0,
       nesterovs_momentum=True, power_t=0.5, random_state=0, shuffle=True,
       solver='sgd', tol=0.0001, validation_fraction=0.1, verbose=0,
       warm_start=False)

# Inference

In [9]:
test_infer = pd.read_csv('data/test.csv', names=cols[0:-1])
test_infer = MinMaxScaler().fit_transform(test_infer)

In [11]:
labels = nn.predict(test_infer)

In [14]:
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
predictions = []
for label_set in labels:
    idx = 3
    for label_idx, label in enumerate(label_set):
        if label == 1:
            idx = label_idx
    if idx == 3:
        predictions.append('NA')
    else:
        predictions.append(species[idx])

In [15]:
predictions

['Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-setosa']